<!--------------- NAVBAR --------------->
	<app-navbar></app-navbar>
<!--------------- BANNER --------------->
	<app-banner></app-banner>
<!--------------- ACERCA DE  --------------->
	<div class="container shadow bg-info">
		<div class="row">
			<h5 class="text-center p-1 bg-dark text-light rounded border p-2">ABOUT ME</h5>
		</div>
		<app-aboutMe></app-aboutMe>
	</div>
<!--------------- EDUCACIÓN --------------->
	<div class="container shadow bg-info">
		<div class="row mt-5">
			<h5 class="text-center p-1 bg-dark text-light rounded border p-2">EDUCACION</h5>
		</div>
		<app-education></app-education>
	</div>
<!--------------- EXPERIENCIAS --------------->
<div class="container shadow bg-primary">
	<div class="row mt-5">
		<h5 class="text-center p-1 bg-dark text-light  rounded border p-2">EXPERIENCIAS</h5>
	</div>
	<app-experience></app-experience>
</div>

<!--------------- SKILLS --------------->
	<div class="container shadow mt-5 bg-warning">
		<div class="row">
			<h5 class="text-center p-2 rounded border  bg-dark text-light ">SKILLS</h5>
			<app-skills></app-skills>
		</div>
	</div>
<!--------------- SOFTSKILLS --------------->
	<div class="container shadow mt-5 bg-warning">
		<div class="row">
			<h5 class="text-center p-2 rounded border  bg-dark text-light ">SOFTSKILLS</h5>
			<app-softskills></app-softskills>
		</div>
	</div>
<!--------------- PROYECTOS --------------->
	<div class="container shadow mt-5 mb-5  bg-danger">
		<div class="row">
			<h5 class="text-center p-2 rounded border  bg-dark text-light ">PROYECTOS</h5>
			<app-project></app-project>
		</div>
	</div>
<!--------------- FOOTER --------------->
	<app-footer></app-footer>